* { padding: 0; margin: 0;} 

html, body {height: 100%; margin: 0; padding: 0;}

a{text-decoration:none; font-weight:bold; color:#4F5BC8;}

.wrap {position: absolute; width: 100%; min-width: 900px; min-height:100%; margin: 0px 0px 0px 0px;  background: transparent;}

.wrap2 {position: relative; width:90%; min-width:800px; min-height:100%; margin-top: 0px; margin-bottom: 50px; margin-left: auto; margin-right:auto;}

.header {position: relative; overflow: hidden; width: 100%; min-height: 47px; background: transparent; margin-top: 0px; margin-bottom:0px; margin-left: auto; margin-right: auto; border: 2px #C5C5C5;}

.h3-art-logo {position: relative; width: 30%; height: 99%; float: left; background: transparent; margin-left: 15px; margin-top: 5px; margin-bottom: 0px;}

.mmenu {position: relative; float: right; width: 60%; height: 100%; margin-top: 5px; margin-bottom: 0%; margin-left:auto;}

.mmenu-item {position: relative; float: right; margin-left: 10%; margin-right: 0px;}

.mmenu-item a {text-decoration: none; color: #4F56DC; font-family:'Ubuntu'; font-size: 125%; font-weight: bold; letter-spacing: 0.75px;}

.mmenu-item a:hover {text-decoration: none; color: #0000aa;}

.content {position: relative; width: 98%; min-height: 547px; margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 20px; background: transparent;}

.footer {position: absolute; bottom: 0; width: 100%; height: 25px; border-top: 1px solid #5a07cd; background: transparent; font-family:'Ubuntu'; font-size: 90%; text-align: center; margin-top: 10px;}