{% extends "base.html" %}

{% block title %}Список ваших подарков{% endblock %}

{% block content %}

{% if gift %}
    <h1>Спасибо!</h1>
    Вы сделали подарок {{ gift }}. Еще один?
{% else %}
    <h1>Хотите сами сделать подарок? Это очень просто!</h1>
    Для начала придумайте название своему подарку и сделайте короткое описание.
{% endif %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form action="" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input class="ui-widget" type="submit" value="Делать подарок"/>
</form>

{% endblock %}