{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans 'Join us!' %}{% endblock title %}

{% block content %}

<form method="post" action="{% url 'users.views.register' %}">
{% csrf_token %}
<div class="fieldWrapper">
	{{ form.username.errors }}
    {{ form.username.label_tag }}
    {{ form.username }}
    {# {{ form.username.help_text }} #}
</div>
<div class="fieldWrapper">
	{{ form.email.errors }}
	{{ form.email.label_tag }}
	{{ form.email }}
	{# {{ form.email.help_text }} #}
</div>
<div class="fieldWrapper">
	{{ form.password.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
    {# {{ form.password.help_text }} #}
</div>
<div class="fieldWrapper">
	{{ form.accept_TOS.errors }}
    {{ form.accept_TOS.label_tag }}
    {{ form.accept_TOS }}
    {# {{ form.accept_TOS.help_text }} #}
</div>
<input type="submit" value="{% trans 'Go' %}" />
<input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock content %}
